.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

#values .MuiSelect-nativeInput { 
    height: 100%;
    color: #fff;
    background: transparent;
    border: none;
    opacity: 1;
}

.classAtr legend.MuiFormLabel-root {color: #fff;text-decoration: underline;}

#values .MuiSelect-select.MuiSelect-select {
  font-size: 0;
}

.App-header, main {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header {
  padding-top: 70px;
}
button.next, button.previous{
  margin: 40px 20px;
  min-width: 120px;
}
.option {min-height: 30px !important;}

.App-link {
  color: #61dafb;
}

.classic .MuiSelect-selectMenu, .classic .MuiSelect-selectMenu {min-width: 200px !important;}

.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid #fff;
}
.MuiInput-underline:before {
  border-bottom: 1px solid #fff !important;
}
.MuiSelect-icon {
  color: #fff !important;
}
p.big {
  font-size: 2.2rem;
  margin: 1.2rem 0 0.3rem;
  font-weight: bold;
}

.abilities {
  max-width: 400px;
  margin: 0 auto;
  color: #fff;
}
.abilities th {color: #fff;font-size: 1rem;}
 
.abilities .MuiFormControl-root {
  width: 100%;
  min-width: 62px;
}
.charData .MuiFormLabel-root, .charData .MuiFormLabel-root.Mui-focused{color: #fff;}

form.charData {
  display: flex;
  flex-direction: column;
}
form.charData > div {
  margin: 11px;
}
form.charData input {
  color: #fff;
}
#finalValues td {
  color: #fff;
  text-align: center;
  font-size: 1rem;
}
